HW_3/LibraryClient/LibraryClient/Service References/LibraryServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8886/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryService" />
  <xs:import schemaLocation="http://localhost:8886/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryService" minOccurs="0" name="book" nillable="true" type="q1:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibraryService" minOccurs="0" name="GetBookInfoByIdResult" nillable="true" type="q2:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksInfoByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksInfoByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibraryService" minOccurs="0" name="GetBooksInfoByAuthorResult" nillable="true" type="q3:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibraryService" minOccurs="0" name="GetBookResult" nillable="true" type="q4:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Exchange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExchangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtendReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="overdueBooks" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>