HW_3/LibraryClient/LibraryClient/Service References/LibraryServiceReference/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILibraryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="900000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8886/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8886/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8886/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryService" />
      <xsd:import schemaLocation="http://localhost:8886/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Authorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBookInfoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookInfoById" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBookInfoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksInfoByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksInfoByAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksInfoByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksInfoByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Exchange_InputMessage">
    <wsdl:part name="parameters" element="tns:Exchange" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Exchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ExtendReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtendReservation" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Exit_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_OnCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallback" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILibraryService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Authorize">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Authorize" message="tns:ILibraryService_Authorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AuthorizeResponse" message="tns:ILibraryService_Authorize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/AddBook" message="tns:ILibraryService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AddBookResponse" message="tns:ILibraryService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBookInfoById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBookInfoById" message="tns:ILibraryService_GetBookInfoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBookInfoByIdResponse" message="tns:ILibraryService_GetBookInfoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBooksInfoByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooksInfoByAuthor" message="tns:ILibraryService_GetBooksInfoByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksInfoByAuthorResponse" message="tns:ILibraryService_GetBooksInfoByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBook" message="tns:ILibraryService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBookResponse" message="tns:ILibraryService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/ReturnBook" message="tns:ILibraryService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ReturnBookResponse" message="tns:ILibraryService_ReturnBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Exchange">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Exchange" message="tns:ILibraryService_Exchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ExchangeResponse" message="tns:ILibraryService_Exchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ExtendReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/ExtendReservation" message="tns:ILibraryService_ExtendReservation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Exit">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Exit" message="tns:ILibraryService_Exit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/OnCallback" message="tns:ILibraryService_OnCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILibraryService" type="tns:ILibraryService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILibraryService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Authorize">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Authorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/AddBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookInfoById">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBookInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksInfoByAuthor">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBooksInfoByAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/ReturnBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Exchange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendReservation">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/ExtendReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Exit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnCallback">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/OnCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="NetTcpBinding_ILibraryService" binding="tns:NetTcpBinding_ILibraryService">
      <soap12:address location="net.tcp://localhost:9000/library" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/library</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>